.pushable-content {
    height: 100%;
    position: relative;
    padding-bottom: 70px;
    &.move-mobile{
        left: $menu-mobile-width;
        transition: .15s ease-in-out;
    }
}
.main-container{
    margin-bottom: 50px;
    overflow: hidden;
    //margin-top = hader height + margin top
    margin-top: 69px;
    
}