.footer-wrap{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-gray-medium;
    height: 70px;
}
.footer-main {
    display: table;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    &:after{
        content: "";
        display: block;
        clear: both;
        height: 0;

    }
}
.footer-brand, .scroll-top{
    display: table-cell;
    vertical-align: middle;
}
.footer-brand{

    h3 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .brand-link{
        font-size: $font-size-h3;
    }
}

.scroll-top{
    a{
        padding: 10px 15px;
        display: block;
        font-size: $font-size-large;
        color: $color-black-brand;
        &:hover{
            color: lighten($color-black-brand, 50%);
        }
    }
    float: right;
    background-color: $color-yellow-brand;
}