.pagination-wrap{
    margin-bottom: 15px;
    margin-top: 10px;
}
.pagination {
    text-align: center;
    width: 100%;
    a{
        background-color: $color-gray-ligthen;
        color: $color-black-brand;
        display: block;

        &:hover {
            background-color: $color-green-brand;
        }
        &:active {
            background-color: $color-green-light;
        }
        &.pag-active {
            background-color: $color-green-brand;
        }
    }
    @media screen and (min-width: 768px) {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    @media screen and (min-width: 992px) {
        width: 80%;
    }
}

.paginationjs-prev, .pagination-next {
    .pag-btn_out {
        margin-bottom: 0;
        display: inline-block;
        a{
            padding: 10px;
        }
        i {
            top:2px;
        }
    }
    @media screen and (min-width: 480px) {
        .pag-btn_out {
            a{
                padding: 10px 20px;
            }
        }
    }
    @media screen and (min-width: 768px) {
        .pag-btn_out {
            a{
                padding: 12px 25px;
            }
        }
    }
}

.paginationjs-pages {
    display: block;
    padding-bottom: 20px;
    ul{
        margin-bottom: 0;
    }
    li{
        display: inline-block;
        vertical-align: middle;
        &:not(:last-child){
            margin-right: 7px;
        }
        &:nth-child(4) {
            padding-left: 5px;
            padding-right: 5px;
            cursor: default;
        } 
        &.active {
            a{
                background-color: $color-green-brand;
            }
        }
        &.paginationjs-prev {
            float: left;
            &.disabled {
                a{
                    background-color: $color-gray-ligthen;
                    color: $color-gray-light;
                }            
            }
        }
        &.paginationjs-next {
            float: right;
            &.disabled {
                a{
                    background-color: $color-gray-ligthen;
                    color: $color-gray-light;
                }          
            }
        }
    }
    a{
        padding: 9px 15px 10px;
        font-weight: bold;
        border: 1px solid $color-gray-light;
        &:hover {
            background-color: darken($color-gray-light, 5%);
            border: 1px solid darken($color-gray-light, 5%);
        }
        &:active {
            background-color: $color-green-light;
            border: 1px solid $color-green-light;
        }
    }
    @media screen and (min-width: 481px) {
        display: inline-block;
    }
    @media screen and (min-width: 768px) {
        li{
            &:not(:last-child){
                margin-right: 10px;
            }
        }
        a{
            padding: 13px 18px 11px;
        }
    }
}
.paginationjs-go-input{
    display: inline-block;
    vertical-align: middle;
    .J-paginationjs-go-pagenumber{
        text-align:center;
        padding: 14px 15px 10px;
        max-width: 48px;
        appearance: none;
        -webkit-appearance: none;
        outline-color: #089a78;
        box-sizing: border-box;
        border: 1px solid $color-gray-light;
    }
    @media screen and (min-width: 481px) {
        margin-left: 20px;
    }
}

.paginationjs-go-button{
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    .J-paginationjs-go-button{
        appearance: none;
        -webkit-appearance: none;
        padding: 14px 15px 10px;
        box-sizing: border-box;
        border: 1px solid darken($color-gray-light, 15%);
        &:hover{
            background-color: $color-gray-light;
        }
    }
}