.pagination-wrap{
    margin-bottom: 15px;
    margin-top: 10px;
}
.pagination {
    text-align: center;
    width: 100%;
    a{
        background-color: $color-gray-ligthen;
        color: $color-black-brand;
        display: block;
        &:active {
            background-color: $color-green-light;
        }
    }
    @media screen and (min-width: 768px) {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    @media screen and (min-width: 992px) {
        width: 80%;
    }
}

//The names of the following classes extracted from "paginationjs" library
.paginationjs-pages {
    display: block;
    padding-bottom: 20px;
    ul{
        margin-bottom: 0;
    }
    li{
        display: inline-block;
        vertical-align: middle;
        margin-right: 4px;
        margin-left: 4px;
        &.active {
            a{
                background-color: $color-green-brand;
            }
        }
    }
    a{
        padding: 9px 15px 10px;
        font-weight: bold;
        border: 1px solid $color-gray-light;
        &:hover {
            background-color: darken($color-gray-light, 5%);
            border: 1px solid darken($color-gray-light, 5%);
        }
        &:active {
            background-color: $color-green-light;
            border: 1px solid $color-green-light;
        }
    }
    .paginationjs-prev, .paginationjs-next{
        &.disabled {
            a{
                background-color: $color-gray-ligthen;
                color: $color-gray-light;
            }            
        }
    }
    .paginationjs-prev {
        float: left;
        margin-right: 8px;
    }
    .paginationjs-next {
        float: right;
        margin-left: 8px;
    }
    @media screen and (min-width: 481px) {
        display: inline-block;
    }
    @media screen and (min-width: 768px) {
        a{
            padding: 13px 18px 11px;
        }
    }
}

.paginationjs-go-base{
    appearance: none;
    padding: 14px 15px 10px;
    box-sizing: border-box;
}

.paginationjs-go-input{
    display: inline-block;
    vertical-align: middle;

    .J-paginationjs-go-pagenumber{
        @extend .paginationjs-go-base;
        border: 1px solid $color-gray-light;
        text-align:center;
        max-width: 48px;
        outline-color: #089a78;
    }
    @media screen and (min-width: 481px) {
        margin-left: 20px;
    }
}

.paginationjs-go-button{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;

    .J-paginationjs-go-button{
        @extend .paginationjs-go-base;
        border: 1px solid darken($color-gray-light, 15%);
        &:hover{
            background-color: $color-gray-light;
        }
    }
}