.post-comments {
    padding-top: 20px;
    margin-bottom: 50px;
}
.comments-wrap {
    @media screen and (min-width: 992px){
        width: 83.33%;
        margin-left: auto; 
        margin-right: auto;
    }
}
.comment-content{
    margin-bottom: 60px;
    .post-comments_title {
        color: $color-gray-medium;
    }
}
.post-comments_title {
    color: $color-gray-medium;

    h6{
        font-size: $font-size-h6;
        font-size: bold;
    }   
}
.comment-item {
    border: 1px solid $color-gray-ligthen;
    padding: 25px;
    margin-bottom: 20px;
}
.com-postNotes {
    padding-bottom: 15px;
    .com-author_img , .com-author_details{
        display: inline-block;
        vertical-align: middle;       
    }
    .com-author_img {
        float: left;
        width: 50px;
        .com-author_img_frame{
            overflow: hidden;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid $color-green-brand;
        }
        img{
            display: block;
        }
    }
    .com-author_details {
        float: left;
        width: calc(100% - 60px);
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
    .com-author_name {
        h5{
            margin-bottom: 4px;
            color: $color-green-brand;
        }
    }
    .com-author_date{
        font-size: $font-size-body;
        color: $color-gray-medium;
    }
}
.com-text{
    color: darken($color-gray-medium, 15%);
}

//FORM STYLES
.comment-form {
    background-color: $color-green-brand;
    padding: 30px 10px 35px 10px;
    
    .com-form_input, .com-form_textarea, .com-form_submit{
        appearance: none;
        
        border: 0;
    }

    .com-form_input, .com-form_textarea{
        color: $color-gray-dark;
        width: 100%;
        display: block;
        border: 0;
        padding: 15px 10px;
        margin-bottom: 25px;
        outline-color: #089a78;
        caret-color: #089a78;
        &::placeholder{
            color: darken($color-gray-light, 10%);
        }
    }
    .com-form_textarea{
        min-height: 50px;
        position: relative;
    }
    .textarea_limit{
        position: absolute;
        bottom: 40px;
        right: 30px;
        border: 1px solid #efefef;
        font-size: 13px;
        color: $color-gray-medium;
        padding: 0.25em 1em;
        background-color: rgba(255,255,255,0.8);
    }
    .com-form_submit {
        background-color: $color-gray-light;
        color: $color-black-brand;
        padding: 15px 30px;
        float:right;
        &:hover, &:active{
            background-color: lighten($color-gray-light, 5%);
        }
    }
}