.post-comments {
    padding-top: 20px;
    margin-bottom: 50px;
}
.comments-wrap {
    @media screen and (min-width: 992px){
        width: 83.33%;
        margin-left: auto; 
        margin-right: auto;
    }
}
.comment-content{
    margin-bottom: 60px;
    .post-comments_title {
        color: $color-gray-medium;
    }
}
.post-comments_title {
    color: $color-gray-medium;

    h6{
        font-size: $font-size-h6;
        font-size: bold;
    }   
}
.comment-item {
    border: 1px solid $color-gray-ligthen;
    padding: 25px;
    margin-bottom: 20px;
}
.com-postNotes {
    padding-bottom: 15px;
    .com-author_img , .com-author_details{
        display: inline-block;
        vertical-align: middle;       
    }
    .com-author_img {
        float: left;
        width: 50px;
        .com-author_img_frame{
            overflow: hidden;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid $color-green-brand;
        }
        img{
            display: block;
        }
    }
    .com-author_details {
        float: left;
        width: calc(100% - 60px);
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
    .com-author_name {
        h5{
            margin-bottom: 4px;
            color: $color-green-brand;
        }
    }
    .com-author_date{
        font-size: $font-size-body;
        color: $color-gray-medium;
    }
}
.com-text{
    color: darken($color-gray-medium, 15%);
}