.post-detail {
    padding-top: 50px;
}
.det-content {
    border: 1px solid darken($color-gray-ligthen, 10%);
    padding: 20px 25px 25px;
}
.det-postNotes {
    .det-author_img , .det-author_details{
        display: inline-block;
        vertical-align: middle;       
    }
    .det-author_img {
        float: left;
        width: 65px;
        .det-author_img_iframe{
            overflow: hidden;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            border: 3px solid $color-yellow-brand;
            
        }
        img{
            display: block;
        }
    }
    .det-author_details {
        float: left;
        //100% - img.with
        width: calc(100% - 65px);
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
    .det-author_name {
        h5{
            font-size: $font-size-h6;
            margin-bottom: 6px;
            color: $color-gray-dark;
        }
    }
    .det-author_comments {
        a{
            color: $color-gray-medium;
            text-decoration: underline;
            cursor: pointer;
        } 
    }
}

.det-header {
    font-size: $font-size-h6;
    color: $color-black-brand;
    padding-top: 20px;
    padding-bottom: 20px;
}
.det-header_type{
    text-transform: uppercase;
    font-weight: bold;
    &:after {
        content: "/";
        margin-left: 10px;
        position: relative;
        font-size: 20px;
        right: -1px;
        color: $color-gray-ligthen;
    }
}
.det-header_title {
    font-size: $font-size-detail-title;
    font-weight: bold;
}
.det-body_text{
    font-size: $font-size-base;
    a:hover{
        text-decoration: underline;
    }
}
.det-img_frame{
    padding-top: 25px;
    padding-bottom: 30px;
}