<!--HEADER & MENU -->
<header>
  <div class="container-fluid">
    <div class="row">
      <nav class="nav-wrap">
        <div class="col-xs-12">
          <div class="nav-main">
            <div class="nav-left">
              <div class="nav-menu">
                <div class="nav-icon" id="js_nav-icon">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
              <div class="nav-brand">
                <h1><a class="brand-link" href="./">Blockquote!</a></h1>
              </div>
            </div>
            <div class="nav-navigation" id="js_nav-navigation">
              <ul>
                <li><a href="javascript;">Technology</a> </li>
                <li><a href="javascript;">Learning</a></li>
                <li><a href="javascript;">Arts</a></li>
                <li><a href="javascript;">Sports</a></li>
                <li><a href="javascript;">Music</a></li>
                <li><a href="javascript;">Culture</a></li>
              </ul>
            </div>
            <div class="nav-right">
                <div class="nav-search">
                    <span class="search-btn" id="js_search-btn">
                      <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                    </span>
                  </div>
                <div class="nav-login">
                  <span class="login-btn">
                    <a href="javascript;">Log in</a>
                  </span>
                  <span class="signUp-btn">
                    <a href="javascript;">Sign up</a>
                  </span>
                </div>
            </div>
          </div>
      </div>
      </nav>
      
      <div class="field-search">
          <input type="search" class="search-input" id="js_search-input" autofocus placeholder="Search">
      </div>

    </div>
  </div>
</header>

