<!--HEADER & MENU -->
<header>
  <div class="container-fluid">
    <div class="row">
      <nav class="nav-main" id="nav-main">
        <div class="col-xs-12">
            
            <div class="nav-menu">
              <div id="nav-icon">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
            <div class="nav-brand">
              <h1>Blockquote!</h1>
            </div>
            <div class="nav-navigation">
              <ul>
                <li><a href="#">Technology</a> </li>
                <li><a href="#">Learning</a></li>
                <li><a href="#">Arts</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Music</a></li>
                <li><a href="#">Culture</a></li>
              </ul>
            </div>
            <div class="nav-actions">
              <div class="nav-search">
                  <span class="search-button">
                    <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                  </span>
                </div>
              <div class="nav-login">
                <span class="login-button">
                  <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                </span>
              </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <article>
          <figure>
            <img src="" alt="">
            <figcaption></figcaption>
          </figure>
        </article>
        <article></article>
        <article></article>
      </div>
    </div>
  </div>
</header>