<section class="pagination-wrap">
        <div class="col-xs-12">
            <div class="pagination" id="pagination">
                <!--== AUTOMATICO ==-->
                
                <!-- CONTENEDOR POSTS -->
                <!--<div id="paginated-posts">
                    
                    
                </div>-->
                <!-- ===================== -->

                <!-- CONTENEDOR PAGINACION -->

                    <!-- paginationjs -->
                        <!-- paginationjs-pages -->
                        
                <!-- ===================== -->
            </div>
        </div>
    </section>
<!--<section class="pagination-wrap">
        <div class="col-xs-12">
            <div class="pagination">
                <div class="pagination-prev">
                    <p class="pag-btn_out"><a href="javascript:;"><i class="glyphicon glyphicon-chevron-left"></i></a></p>
                </div>
                <div class="pagination-main">
                    <ul>
                        <li><a href="javascript:;" class="pag-active">1</a></li>
                        <li><a href="javascript:;">2</a></li>
                        <li>...</li>
                        <li><a href="javascript:;">7</a></li>
                        <li><a href="javascript:;">8</a></li>
                    </ul>
                </div>
                <div class="pagination-next">
                    <div><p class="pag-btn_out"><a href="javascript:;"><i class="glyphicon glyphicon-chevron-right"></i></a></p></div>
                </div>
            </div>
        </div>
</section>-->