<section class="post-comments clearfix ideal" id="post-comments">
    <div class="col-xs-12">
        <div class="comments-wrap" id="anchor-comments">
            <div class="comment-content">
                <div class="post-comments_title">
                    <h6>Comentarios</h6>
                </div>
                
                <div class="ui-status empty">
                    <p>Lo sentimos, no hay ningún comentario</p>
                </div>
                <div class="ui-status error">
                    <p>Se ha producido un error al cargar los comentarios</p>
                </div>
                <div class="ui-status loading">
                    <p>Cargando...</p>
                </div>

                <div class="ui-status ideal">
                    <!-- Aquí cargamos el listado de comentarios -->
                    <!--<div class="comment-item">
                        <div class="com-postNotes clearfix">
                            <div class="com-author">
                                <div class="com-author_img">
                                    <div class="com-author_img_frame">
                                        <img src="img/author_lorem.jpg" class="img-responsive" alt="imagen de perfil">
                                    </div>
                                </div>
                                <div class="com-author_details">
                                    <div class="com-author_name">
                                        <h5>Mariano Rajoy</h5>
                                    </div>
                                    <p class="com-author_date">
                                        Sep 1
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="com-text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus dolor deleniti distinctio
                                voluptatum quasi officiis quos numquam velit quis delectus consequatur ullam aperiam voluptas
                                quod, dicta minima assumenda? Quo.</p>
                            <p>Numquam hic sint in suscipit molestiae harum alias, excepturi possimus fuga deleniti distinctio
                                expedita eius praesentium non impedit ad dolorem dolores cumque tempore quibusdam qui atque
                                explicabo sunt. Aliquam, atque.
                            </p>
                        </div>
                    </div>
                    <div class="comment-item">
                        <div class="com-postNotes clearfix">
                            <div class="com-author">
                                <div class="com-author_img">
                                    <div class="com-author_img_frame">
                                        <img src="img/author_lorem.jpg" class="img-responsive" alt="imagen de perfil">
                                    </div>
                                </div>
                                <div class="com-author_details">
                                    <div class="com-author_name">
                                        <h5>Mariano Rajoy</h5>
                                    </div>
                                    <p class="com-author_date">
                                        Sep 1
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="com-text">
                            <p>Sequi iure blanditiis beatae similique minima dolor atque, rem assumenda voluptate esse quo illum
                                incidunt error. Voluptates delectus reiciendis totam, deserunt optio incidunt, quos quis
                                asperiores aperiam saepe, sapiente quibusdam.</p>
                            <p>:)</p>
                        </div>
                    </div>
                    <div class="comment-item">
                        <div class="com-postNotes clearfix">
                            <div class="com-author">
                                <div class="com-author_img">
                                    <div class="com-author_img_frame">
                                        <img src="img/author_lorem.jpg" class="img-responsive" alt="imagen de perfil">
                                    </div>
                                </div>
                                <div class="com-author_details">
                                    <div class="com-author_name">
                                        <h5>Mariano Rajoy</h5>
                                    </div>
                                    <p class="com-author_date">
                                        Sep 1
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="com-text">
                            <p>Nemo sit quidem fugiat repellendus alias fugit, enim illum nostrum, provident quis beatae magni
                                nisi pariatur numquam omnis inventore nihil perspiciatis corporis eius ab itaque quas? Possimus
                                nesciunt optio itaque.</p>
                            <p>Quisquam, suscipit! Sint corporis, voluptatem fugiat reiciendis rerum doloribus similique nemo
                                esse officia expedita. Dicta molestias, distinctio similique aliquam repellat maiores facilis
                                nisi, iure consequatur iusto alias. Voluptas, ea nihil!</p>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>