<section class="post-comments clearfix ideal" id="post-comments">
    <div class="col-xs-12">
        <div class="comments-wrap" id="anchor-comments">
            <div class="comment-content">
                <div class="post-comments_title">
                    <h6>Comentarios</h6>
                </div>
                
                <div class="ui-status empty">
                    <p>Lo sentimos, no hay ningún comentario</p>
                </div>
                <div class="ui-status error">
                    <p>Se ha producido un error al cargar los comentarios</p>
                </div>
                <div class="ui-status loading">
                    <p>Cargando...</p>
                </div>

                <div class="ui-status ideal">
                    <!-- Aquí cargamos el listado de comentarios -->
                </div>
            </div>
        </div>
    </div>
</section>