<div class="post-comments_title">
    <h5>Deja tu comentario</h5>
</div>
<div class="comment-form clearfix">
    <form action="" id="post-form" method="post" name="comment" target="" enctype="" novalidate="">
        <div class="col-xs-12 col-md-6">
            <input class="com-form_input" type="text" name="name" id="name" placeholder="Nombre *" pattern="[A-Z]" required>
        </div>
        <div class="col-xs-12 col-md-6">
            <input class="com-form_input" type="text" name="surname" id="surname" placeholder="Apellidos *" pattern="[A-Z]" required>
        </div>
        <div class="col-xs-12">
            <input class="com-form_input"  type="email" name="email" id="email" placeholder="Email *" required>
        </div>
        <div class="col-xs-12">
            <textarea class="com-form_textarea" name="message" id="message" cols="30" rows="10" placeholder="Escribe aquí tu comentario *" required></textarea>
            <span id="text-limit" class="textarea_limit">* Máximo 120 palabras</span>
        </div>
        <div class="col-xs-12">
            <button class="com-form_submit" type="submit" class="submit" id="submit">Enviar</button>
        </div>
    </form>
</div>