<section class="posts-list ideal">
    <div class="ui-status empty">
        <p>No hay ninguna canción</p>
    </div>
    <div class="ui-status error">
        Se ha producido un error al cargar la canción
    </div>
    <div class="ui-status loading">
        Cargando...
    </div>
    <div class="ui-status ideal">
        <!-- Aquí cargamos el listado de canciones -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <article>
                <figure>
                    <img src="img/article_1.png" alt="">
                    <figcaption></figcaption>
                </figure>
            </article>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <article>
                <figure>
                    <img src="img/article_2.png" alt="">
                    <figcaption></figcaption>
                </figure>
            </article>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <article>
                <figure>
                    <img src="img/article_3.png" alt="">
                    <figcaption></figcaption>
                </figure>
            </article>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <article>
                <figure>
                    <img src="img/article_4.png" alt="">
                    <figcaption></figcaption>
                </figure>
            </article>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <article>
                <figure>
                    <img src="" alt="">
                    <figcaption></figcaption>
                </figure>
            </article>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <article>
                <figure>
                    <img src="" alt="">
                    <figcaption></figcaption>
                </figure>
            </article>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <article>
                <figure>
                    <img src="" alt="">
                    <figcaption></figcaption>
                </figure>
            </article>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <article>
                <figure>
                    <img src="" alt="">
                    <figcaption></figcaption>
                </figure>
            </article>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <article>
                <figure>
                    <img src="" alt="">
                    <figcaption></figcaption>
                </figure>
            </article>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <article>
                <figure>
                    <img src="" alt="">
                    <figcaption></figcaption>
                </figure>
            </article>
        </div>
    </div>
</section>