    <div class="field-search">
        <input type="search" class="search-input" id="js_search-input" autofocus placeholder="Search">
    </div>
    <section class="posts-list ideal" id="posts-list">
        <div class="ui-status empty">
            <p>No hay ninguna canción</p>
        </div>
        <div class="ui-status error">
            Se ha producido un error al cargar la canción
        </div>
        <div class="ui-status loading">
            Cargando...
        </div>
        <div class="ui-status ideal">
            <!-- Aquí cargamos el listado de canciones -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <article>
                    <figure>
                        <div class="fig-img_frame">
                            <img class="img-responsive" src="img/article_01.jpg" alt="">
                        </div>
                        <figcaption class="figcaption">
                            <div class="fig-content">
                                <div class="fig-header">
                                    <p>
                                        <span class="fig-header_type">Arts</span>
                                        <span class="fig-header_date">16.06.2017</span>
                                    </p>
                                    <h2 class="fig-header_title">Valencia, la ciudad ilustrada. Arte Urbano</h2>
                                </div>
                                <div class="fig-body">
                                    <div class="fig-body_text">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi incidunt cupiditate harum
                                            tenetur dolorem laborum dolore excepturi nobis debitis deleniti obcaecati animi, impedit
                                            quidem perspiciatis enim aliquam praesentium, quis quod. Possimus pariatur natus ipsam
                                            quam rerum itaque voluptas veritatis facilis, voluptatem quo impedit praesentium molestiae
                                            at eos est qui dolorem ullam sequi officiis! 
                                        </p>
                                        <p>Quam adipisci consectetur aut quia, officia ullam. Perferendis velit autem illum, nemo consectetur
                                            inventore id ab dolor culpa eos natus temporibus minima officiis similique nobis asperiores
                                            quisquam nesciunt veritatis hic minus amet ex! Ea nihil vero illum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="fig-postNotes clearfix">
                                <div class="fig-author">
                                    <div class="fig-author_img">
                                        <div class="fig-author_img_frame">
                                            <img src="img/jase-ess.jpeg" class="img-responsive" alt="imagen de perfil">
                                        </div>
                                    </div>
                                    <div class="fig-author_details">
                                        <div class="fig-author_name">
                                            <h5>Jase Ess</h5>
                                        </div>
                                        <p class="fig-author_comments">
                                            <a href="javascript:;">Comentarios: <span class="fig-comments_num">12</span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="fig-like">
                                    <div class="fig-like_icon">
                                        <p>
                                            <i class="glyphicon glyphicon-heart-empty active"></i>
                                            <i class="glyphicon glyphicon-heart"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <article>
                    <figure>
                        <div class="fig-img_frame">
                            <img class="img-responsive" src="img/article_02.jpg" alt="Imagen de salto en bicicleta">
                        </div>
                        <figcaption class="figcaption">
                            <div class="fig-content">
                                <div class="fig-header">
                                    <p>
                                        <span class="fig-header_type">Arts</span>
                                        <span class="fig-header_date">16.06.2017</span>
                                    </p>
                                    <h2 class="fig-header_title">Valencia, la ciudad ilustrada. Arte Urbano</h2>
                                </div>
                                <div class="fig-body">
                                    <div class="fig-body_text">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi incidunt cupiditate harum
                                            tenetur dolorem laborum dolore excepturi nobis debitis deleniti obcaecati animi, impedit
                                            quidem perspiciatis enim aliquam praesentium, quis quod. Possimus pariatur natus ipsam
                                            quam rerum itaque voluptas veritatis facilis, voluptatem quo impedit praesentium molestiae
                                            at eos est qui dolorem ullam sequi officiis! 
                                        </p>
                                        <p>Quam adipisci consectetur aut quia, officia ullam. Perferendis velit autem illum, nemo consectetur
                                            inventore id ab dolor culpa eos natus temporibus minima officiis similique nobis asperiores
                                            quisquam nesciunt veritatis hic minus amet ex! Ea nihil vero illum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="fig-postNotes clearfix">
                                <div class="fig-author">
                                    <div class="fig-author_img">
                                        <div class="fig-author_img_frame">
                                            <img src="img/nicolas-picard.jpg" class="img-responsive" alt="imagen de perfil">
                                        </div>
                                    </div>
                                    <div class="fig-author_details">
                                        <div class="fig-author_name">
                                            <h5>Nicolas Picard</h5>
                                        </div>
                                        <p class="fig-author_comments">
                                            <a href="javascript:;">Comentarios: <span class="fig-comments_num">12</span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="fig-like">
                                    <div class="fig-like_icon">
                                        <p>
                                            <i class="glyphicon glyphicon-heart-empty active"></i>
                                            <i class="glyphicon glyphicon-heart"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <article>
                    <figure>
                        <div class="fig-img_frame">
                            <img class="img-responsive" src="img/article_03.jpg" alt="Imagen de mujer sujetando un libro">
                        </div>
                        <figcaption class="figcaption">
                            <div class="fig-content">
                                <div class="fig-header">
                                    <p>
                                        <span class="fig-header_type">Arts</span>
                                        <span class="fig-header_date">16.06.2017</span>
                                    </p>
                                    <h2 class="fig-header_title">Valencia, la ciudad ilustrada. Arte Urbano</h2>
                                </div>
                                <div class="fig-body">
                                    <div class="fig-body_text">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi incidunt cupiditate harum
                                            tenetur dolorem laborum dolore excepturi nobis debitis deleniti obcaecati animi, impedit
                                            quidem perspiciatis enim aliquam praesentium, quis quod. Possimus pariatur natus ipsam
                                            quam rerum itaque voluptas veritatis facilis, voluptatem quo impedit praesentium molestiae
                                            at eos est qui dolorem ullam sequi officiis! 
                                        </p>
                                        <p>Quam adipisci consectetur aut quia, officia ullam. Perferendis velit autem illum, nemo consectetur
                                            inventore id ab dolor culpa eos natus temporibus minima officiis similique nobis asperiores
                                            quisquam nesciunt veritatis hic minus amet ex! Ea nihil vero illum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="fig-postNotes clearfix">
                                <div class="fig-author">
                                    <div class="fig-author_img">
                                        <div class="fig-author_img_frame">
                                            <img src="img/annie-spratt.jpeg" class="img-responsive" alt="imagen de perfil">
                                        </div>
                                    </div>
                                    <div class="fig-author_details">
                                        <div class="fig-author_name">
                                            <h5>Annie Spratt</h5>
                                        </div>
                                        <p class="fig-author_comments">
                                            <a href="javascript:;">Comentarios: <span class="fig-comments_num">12</span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="fig-like">
                                    <div class="fig-like_icon">
                                        <p>
                                            <i class="glyphicon glyphicon-heart-empty active"></i>
                                            <i class="glyphicon glyphicon-heart"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <article>
                    <figure>
                        <div class="fig-img_frame">
                            <img class="img-responsive" src="img/article_04.jpg" alt="Fotografía de chica tocando la guitarra">
                        </div>
                        <figcaption class="figcaption">
                            <div class="fig-content">
                                <div class="fig-header">
                                    <p>
                                        <span class="fig-header_type">Arts</span>
                                        <span class="fig-header_date">16.06.2017</span>
                                    </p>
                                    <h2 class="fig-header_title">Valencia, la ciudad ilustrada. Arte Urbano</h2>
                                </div>
                                <div class="fig-body">
                                    <div class="fig-body_text">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi incidunt cupiditate harum
                                            tenetur dolorem laborum dolore excepturi nobis debitis deleniti obcaecati animi, impedit
                                            quidem perspiciatis enim aliquam praesentium, quis quod. Possimus pariatur natus ipsam
                                            quam rerum itaque voluptas veritatis facilis, voluptatem quo impedit praesentium molestiae
                                            at eos est qui dolorem ullam sequi officiis! 
                                        </p>
                                        <p>Quam adipisci consectetur aut quia, officia ullam. Perferendis velit autem illum, nemo consectetur
                                            inventore id ab dolor culpa eos natus temporibus minima officiis similique nobis asperiores
                                            quisquam nesciunt veritatis hic minus amet ex! Ea nihil vero illum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="fig-postNotes clearfix">
                                <div class="fig-author">
                                    <div class="fig-author_img">
                                        <div class="fig-author_img_frame">
                                            <img src="img/matthew-kane.jpeg" class="img-responsive" alt="imagen de perfil">
                                        </div>
                                    </div>
                                    <div class="fig-author_details">
                                        <div class="fig-author_name">
                                            <h5>Matthew kane</h5>
                                        </div>
                                        <p class="fig-author_comments">
                                            <a href="javascript:;">Comentarios: <span class="fig-comments_num">12</span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="fig-like">
                                    <div class="fig-like_icon">
                                        <p>
                                            <i class="glyphicon glyphicon-heart-empty active"></i>
                                            <i class="glyphicon glyphicon-heart"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <article>
                    <figure>
                        <div class="fig-img_frame">
                            <img class="img-responsive" src="img/article_05.jpg" alt="Fotografía de los brazos de una escultura">
                        </div>
                        <figcaption class="figcaption">
                            <div class="fig-content">
                                <div class="fig-header">
                                    <p>
                                        <span class="fig-header_type">Arts</span>
                                        <span class="fig-header_date">16.06.2017</span>
                                    </p>
                                    <h2 class="fig-header_title">Valencia, la ciudad ilustrada. Arte Urbano</h2>
                                </div>
                                <div class="fig-body">
                                    <div class="fig-body_text">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi incidunt cupiditate harum
                                            tenetur dolorem laborum dolore excepturi nobis debitis deleniti obcaecati animi, impedit
                                            quidem perspiciatis enim aliquam praesentium, quis quod. Possimus pariatur natus ipsam
                                            quam rerum itaque voluptas veritatis facilis, voluptatem quo impedit praesentium molestiae
                                            at eos est qui dolorem ullam sequi officiis! 
                                        </p>
                                        <p>Quam adipisci consectetur aut quia, officia ullam. Perferendis velit autem illum, nemo consectetur
                                            inventore id ab dolor culpa eos natus temporibus minima officiis similique nobis asperiores
                                            quisquam nesciunt veritatis hic minus amet ex! Ea nihil vero illum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="fig-postNotes clearfix">
                                <div class="fig-author">
                                    <div class="fig-author_img">
                                        <div class="fig-author_img_frame">
                                            <img src="img/samuel-zeller.jpeg" class="img-responsive" alt="imagen de perfil">
                                        </div>
                                    </div>
                                    <div class="fig-author_details">
                                        <div class="fig-author_name">
                                            <h5>Samuel Zeller</h5>
                                        </div>
                                        <p class="fig-author_comments">
                                            <a href="javascript:;">Comentarios: <span class="fig-comments_num">12</span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="fig-like">
                                    <div class="fig-like_icon">
                                        <p>
                                            <i class="glyphicon glyphicon-heart-empty active"></i>
                                            <i class="glyphicon glyphicon-heart"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <article>
                    <figure>
                        <div class="fig-img_frame">
                            <img class="img-responsive" src="img/article_06.jpg" alt="Fotografía de los pies de un músico callejero">
                        </div>
                        <figcaption class="figcaption">
                            <div class="fig-content">
                                <div class="fig-header">
                                    <p>
                                        <span class="fig-header_type">Arts</span>
                                        <span class="fig-header_date">16.06.2017</span>
                                    </p>
                                    <h2 class="fig-header_title">Valencia, la ciudad ilustrada. Arte Urbano</h2>
                                </div>
                                <div class="fig-body">
                                    <div class="fig-body_text">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi incidunt cupiditate harum
                                            tenetur dolorem laborum dolore excepturi nobis debitis deleniti obcaecati animi, impedit
                                            quidem perspiciatis enim aliquam praesentium, quis quod. Possimus pariatur natus ipsam
                                            quam rerum itaque voluptas veritatis facilis, voluptatem quo impedit praesentium molestiae
                                            at eos est qui dolorem ullam sequi officiis! 
                                        </p>
                                        <p>Quam adipisci consectetur aut quia, officia ullam. Perferendis velit autem illum, nemo consectetur
                                            inventore id ab dolor culpa eos natus temporibus minima officiis similique nobis asperiores
                                            quisquam nesciunt veritatis hic minus amet ex! Ea nihil vero illum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="fig-postNotes clearfix">
                                <div class="fig-author">
                                    <div class="fig-author_img">
                                        <div class="fig-author_img_frame">
                                            <img src="img/author_lorem.jpg" class="img-responsive" alt="imagen de perfil">
                                        </div>
                                    </div>
                                    <div class="fig-author_details">
                                        <div class="fig-author_name">
                                            <h5>Collie Morgan</h5>
                                        </div>
                                        <p class="fig-author_comments">
                                            <a href="javascript:;">Comentarios: <span class="fig-comments_num">12</span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="fig-like">
                                    <div class="fig-like_icon">
                                        <p>
                                            <i class="glyphicon glyphicon-heart-empty active"></i>
                                            <i class="glyphicon glyphicon-heart"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <article>
                    <figure>
                        <div class="fig-img_frame">
                            <img class="img-responsive" src="img/article_07.jpg" alt="Fotografía de manos tatuadas">
                        </div>
                        <figcaption class="figcaption">
                            <div class="fig-content">
                                <div class="fig-header">
                                    <p>
                                        <span class="fig-header_type">Arts</span>
                                        <span class="fig-header_date">16.06.2017</span>
                                    </p>
                                    <h2 class="fig-header_title">Valencia, la ciudad ilustrada. Arte Urbano</h2>
                                </div>
                                <div class="fig-body">
                                    <div class="fig-body_text">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi incidunt cupiditate harum
                                            tenetur dolorem laborum dolore excepturi nobis debitis deleniti obcaecati animi, impedit
                                            quidem perspiciatis enim aliquam praesentium, quis quod. Possimus pariatur natus ipsam
                                            quam rerum itaque voluptas veritatis facilis, voluptatem quo impedit praesentium molestiae
                                            at eos est qui dolorem ullam sequi officiis! 
                                        </p>
                                        <p>Quam adipisci consectetur aut quia, officia ullam. Perferendis velit autem illum, nemo consectetur
                                            inventore id ab dolor culpa eos natus temporibus minima officiis similique nobis asperiores
                                            quisquam nesciunt veritatis hic minus amet ex! Ea nihil vero illum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="fig-postNotes clearfix">
                                <div class="fig-author">
                                    <div class="fig-author_img">
                                        <div class="fig-author_img_frame">
                                            <img src="img/alex-hockett.jpeg" class="img-responsive" alt="imagen de perfil">
                                        </div>
                                    </div>
                                    <div class="fig-author_details">
                                        <div class="fig-author_name">
                                            <h5>Alex Hockett</h5>
                                        </div>
                                        <p class="fig-author_comments">
                                            <a href="javascript:;">Comentarios: <span class="fig-comments_num">12</span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="fig-like">
                                    <div class="fig-like_icon">
                                        <p>
                                            <i class="glyphicon glyphicon-heart-empty active"></i>
                                            <i class="glyphicon glyphicon-heart"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <article>
                    <figure>
                        <div class="fig-vid_frame">
                            <div class="video-wrapper">
                                <video class="video" width="100%" height="100%" preload="auto" controls poster="img/preview_little.jpg">
                                    <source src="/video/little_talks.m4v" type="video/mp4">
                                </video>
                            </div>
                        </div>
                        <figcaption class="figcaption">
                            <div class="fig-content">
                                <div class="fig-header">
                                    <p>
                                        <span class="fig-header_type">Arts</span>
                                        <span class="fig-header_date">16.06.2017</span>
                                    </p>
                                    <h2 class="fig-header_title">Valencia, la ciudad ilustrada. Arte Urbano</h2>
                                </div>
                                <div class="fig-body">
                                    <div class="fig-body_text">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi incidunt cupiditate harum
                                            tenetur dolorem laborum dolore excepturi nobis debitis deleniti obcaecati animi, impedit
                                            quidem perspiciatis enim aliquam praesentium, quis quod. Possimus pariatur natus ipsam
                                            quam rerum itaque voluptas veritatis facilis, voluptatem quo impedit praesentium molestiae
                                            at eos est qui dolorem ullam sequi officiis! 
                                        </p>
                                        <p>Quam adipisci consectetur aut quia, officia ullam. Perferendis velit autem illum, nemo consectetur
                                            inventore id ab dolor culpa eos natus temporibus minima officiis similique nobis asperiores
                                            quisquam nesciunt veritatis hic minus amet ex! Ea nihil vero illum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="fig-postNotes clearfix">
                                <div class="fig-author">
                                    <div class="fig-author_img">
                                        <div class="fig-author_img_frame">
                                            <img src="img/author_lorem.jpg" class="img-responsive" alt="imagen de perfil">
                                        </div>
                                    </div>
                                    <div class="fig-author_details">
                                        <div class="fig-author_name">
                                            <h5>Of Monsters And Men</h5>
                                        </div>
                                        <p class="fig-author_comments">
                                            <a href="javascript:;">Comentarios: <span class="fig-comments_num">12</span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="fig-like">
                                    <div class="fig-like_icon">
                                        <p>
                                            <i class="glyphicon glyphicon-heart-empty active"></i>
                                            <i class="glyphicon glyphicon-heart"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <article>
                    <figure>
                        <div class="fig-img_frame">
                            <img class="img-responsive" src="img/article_09.jpg" alt="Fotografía de decorado veraniego con fondo rosa">
                        </div>
                        <figcaption class="figcaption">
                            <div class="fig-content">
                                <div class="fig-header">
                                    <p>
                                        <span class="fig-header_type">Arts</span>
                                        <span class="fig-header_date">16.06.2017</span>
                                    </p>
                                    <h2 class="fig-header_title">Valencia, la ciudad ilustrada. Arte Urbano</h2>
                                </div>
                                <div class="fig-body">
                                    <div class="fig-body_text">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi incidunt cupiditate harum
                                            tenetur dolorem laborum dolore excepturi nobis debitis deleniti obcaecati animi, impedit
                                            quidem perspiciatis enim aliquam praesentium, quis quod. Possimus pariatur natus ipsam
                                            quam rerum itaque voluptas veritatis facilis, voluptatem quo impedit praesentium molestiae
                                            at eos est qui dolorem ullam sequi officiis! 
                                        </p>
                                        <p>Quam adipisci consectetur aut quia, officia ullam. Perferendis velit autem illum, nemo consectetur
                                            inventore id ab dolor culpa eos natus temporibus minima officiis similique nobis asperiores
                                            quisquam nesciunt veritatis hic minus amet ex! Ea nihil vero illum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="fig-postNotes clearfix">
                                <div class="fig-author">
                                    <div class="fig-author_img">
                                        <div class="fig-author_img_frame">
                                            <img src="img/lionel-gustave.jpeg" class="img-responsive" alt="imagen de perfil">
                                        </div>
                                    </div>
                                    <div class="fig-author_details">
                                        <div class="fig-author_name">
                                            <h5>Lionel Gustave</h5>
                                        </div>
                                        <p class="fig-author_comments">
                                            <a href="javascript:;">Comentarios: <span class="fig-comments_num">12</span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="fig-like">
                                    <div class="fig-like_icon">
                                        <p>
                                            <i class="glyphicon glyphicon-heart-empty active"></i>
                                            <i class="glyphicon glyphicon-heart"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <article>
                    <figure>
                        <div class="fig-img_frame">
                            <img class="img-responsive" src="img/article_10.jpg" alt="Fotografía de pared cubierta de libros">
                        </div>
                        <figcaption class="figcaption">
                            <div class="fig-content">
                                <div class="fig-header">
                                    <p>
                                        <span class="fig-header_type">Arts</span>
                                        <span class="fig-header_date">16.06.2017</span>
                                    </p>
                                    <h2 class="fig-header_title">Valencia, la ciudad ilustrada. Arte Urbano</h2>
                                </div>
                                <div class="fig-body">
                                    <div class="fig-body_text">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi incidunt cupiditate harum
                                            tenetur dolorem laborum dolore excepturi nobis debitis deleniti obcaecati animi, impedit
                                            quidem perspiciatis enim aliquam praesentium, quis quod. Possimus pariatur natus ipsam
                                            quam rerum itaque voluptas veritatis facilis, voluptatem quo impedit praesentium molestiae
                                            at eos est qui dolorem ullam sequi officiis! 
                                        </p>
                                        <p>Quam adipisci consectetur aut quia, officia ullam. Perferendis velit autem illum, nemo consectetur
                                            inventore id ab dolor culpa eos natus temporibus minima officiis similique nobis asperiores
                                            quisquam nesciunt veritatis hic minus amet ex! Ea nihil vero illum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="fig-postNotes clearfix">
                                <div class="fig-author">
                                    <div class="fig-author_img">
                                        <div class="fig-author_img_frame">
                                            <img src="img/eugenio-mazzone.jpeg" class="img-responsive" alt="imagen de perfil">
                                        </div>
                                    </div>
                                    <div class="fig-author_details">
                                        <div class="fig-author_name">
                                            <h5>Eugeniom Mazzone</h5>
                                        </div>
                                        <p class="fig-author_comments">
                                            <a href="javascript:;">Comentarios: <span class="fig-comments_num">12</span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="fig-like">
                                    <div class="fig-like_icon">
                                        <p>
                                            <i class="glyphicon glyphicon-heart-empty active"></i>
                                            <i class="glyphicon glyphicon-heart"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <!-- Aquí cargamos el listado de canciones -->
        </div>
    </section>