    <div class="field-search">
        <input type="search" name="search" class="search-input" id="js_search-input" autofocus placeholder="Search">
    </div>
    <section class="posts-list ideal clearfix" id="posts-list">
        <div class="ui-status empty">
            <p>Lo sentimos, no hay ningún post</p>
        </div>
        <div class="ui-status error">
            <p>Se ha producido un error al cargar los posts</p>
        </div>
        <div class="ui-status loading">
            <p>Cargando...</p>
        </div>
        <div class="ui-status ideal" >
            <!-- Aquí cargamos el listado de posts -->
        </div>
        <!-- Prueba Paginacion -->

    </section>