<div class="field-search">
    <input type="search" class="search-input" id="js_search-input" autofocus placeholder="Search">
</div>
<section class="post-detail" id="post-detail">
    <div class="col-xs-12">
        <article class="det-content">
            <div class="det-postNotes clearfix">
                    <div class="det-author">
                        <div class="det-author_img">
                            <div class="det-author_img_iframe">
                                <img src="img/jase-ess.jpeg" class="img-responsive" alt="imagen de perfil">
                            </div>
                        </div>
                        <div class="det-author_details">
                                <div class="det-author_name">
                                    <h5>Jase Ess</h5>
                                </div>
                                <p class="det-author_comments">
                                    <a href="javascript:;">Comentarios: <span class="det-comments_num">12</span>
                                </p>
                            </div>
                    </div>
                </div>
            <div class="det-header">
                <h1 class="det-header_title">Valencia, la ciudad ilustrada. Arte Urbano</h1>
                <p>
                    <span class="det-header_type">Arts</span>
                    <span class="det-header_date">16.06.2017</span>
                </p>
            </div>
            <div class="det-body">
                <div class="det-body_text">
                    <p><strong>Lorem ipsum dolor</strong>, sit amet consectetur adipisicing elit. Autem hic facilis quod culpa numquam perferendis fuga, neque sunt esse! Ex nemo deserunt et. Adipisci ab facilis dolor tenetur. Itaque, facere!</p>
                    <p>Magnam architecto laborum asperiores <em>numquam sunt</em> nemo eveniet libero suscipit deleniti exercitationem. Aliquam quo, nostrum delectus omnis at necessitatibus dicta harum esse? Quidem vero eum, praesentium dolorem nostrum <a href="javascript:;">consequatur!</a> Labore.</p>
                    <p>Animi quos ipsam, aperiam quaerat impedit quisquam, quidem possimus est sit eos iusto nostrum provident cum doloribus sapiente, optio veritatis magnam repellendus. Facere delectus explicabo inventore nobis. Hic, <strong>blanditiis tempora?</strong></p>
                </div>
            </div>
            <div class="det-img_frame">
                <img class="img-responsive" src="img/article_01.jpg" alt="">
            </div>
        </article>
    </div>

</section>