html, body {
    height: 100%;
}
body {
    &.move-mobile{
        position: relative;
        left: $menu-mobile-width;
        transition: .15s ease-in-out;
    }
}

a{
    color: $color-green-dark;
    &:hover, &:active{
        text-decoration: none;  
    }
}