body {
    min-height: 100%;
    position: relative;
    &.move-mobile{
        position: relative;
        left: $menu-mobile-width;
        transition: .15s ease-in-out;
    }
}

a{
    cursor: pointer;
    color: $color-green-dark;
    &:hover, &:active{
        text-decoration: none;  
    }
}