* {
    box-sizing: border-box;
}

body {
    height: 100%;
    position: relative;
    &.move-mobile{
        left: $menu-mobile-width;
        transition: .15s ease-in-out;
    }
}

a{
    cursor: pointer;
    color: $link-color;
    &:hover, &:active{
        text-decoration: none;
        color: $link-color;
    }
}