// Font families
$main-font-family: 'Roboto', sans-serif;
$brand-font-family: 'Abril Fatface', serif;
$body-font-family: $main-font-family;

// Font Sizes
$font-size-body: 13px;
$font-size-base: 16px;
$font-size-small: $font-size-base - 5px; 
$font-size-medium: $font-size-base + 3px; 
$font-size-large: $font-size-base + 5px;
$font-size-detail-title: $font-size-h2 + 2px;
$font-size-h1: $font-size-base + 20px; 
$font-size-h2: $font-size-base + 12px;
$font-size-h3: $font-size-base + 9px;
$font-size-h4: $font-size-base + 6px;
$font-size-h5: $font-size-base + 3px;
$font-size-h6: $font-size-base;

// Base Colors
$color-black-brand: #000000;
$color-gray-dark: #31353a;
$color-gray-ligthen: #eaeaea;
$color-gray-light: #ddd;
$color-gray-medium: #999;
$color-violet-brand: #4257b2;
$color-blue-brand: #0078b5;
$color-green-brand: #00c496;
$color-green-light: lighten($color-green-brand, 5%);
$color-green-dark: #089a78;
$color-white-brand: #ffffff;
$color-orange-brand: #e36b52;
$color-yellow-brand: #ffe000;


// Main components colors
$main-text-color: $color-gray-dark;
$link-color: $color-green-brand;
$link-color-hover: lighten($color-green-brand, 5%);

// Forms variables
/*$form-input-border-color: $color-grastur;
$form-input-outline-color: $color-grastur;
$form-button-bg-color: $color-grastur;
$form-button-font-color: $color-less-is-less;
$form-error-bg-color: $color-amazing-39;
$form-error-font-color: $color-less-is-less;*/

// Navigation
$menu-mobile-width: 200px;
